.navbar {
  min-height: 85px; 
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.bg-custom {
  background-color: #ae0c0040 !important;  /* Background color */
  transition: background-color 0.5s ease;
}

.bg-custom:hover {
  background-color: #ae0c00 !important;  /* Background color */
}
.navbar-toggler {
  border-color: transparent;
}

.navbar-toggler:hover {
  border-color: inherit;
  transition: border-color 0.3s ease;

}

.navbar-toggler:focus {
  border-color: transparent;
  display: none;
}

.navbar-brand {
  font-family: "Roboto", sans-serif !important;
  font-optical-sizing: auto;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.navbar .active,
.dropdown-item.active {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0.5rem rgba(255, 255, 255, 0.05);
}

.success-icon {
  font-size: 20px
}

.search-icon {
  font-size: 20px
}

.search-icon:hover, .user-icon:hover, .login-icon:hover {
  transition: color 0.3s ease, transform 0.3s ease;
  opacity: 0.95;
  transform: scale(1.25);
}

/* Default state (non-hovered) */
.search-default {
  background-color: #1e1e1e;
  color: #f8f9fa;
  border: 1px solid #444;
}

/* Hovered navbar state */
.search-hovered {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ccc;
}

.search-default::placeholder {
  color: #aaa;
}

.search-hovered::placeholder {
  color: #666;
}


.input-transition {
  transition: background-color 1s ease, color 0.75s ease;
}

.dropdown-toggle::after {
  display: none !important;
}

@media (min-width: 576px) {
  .navbar-brand {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 1.9rem;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    font-size: 2.2rem;
  }
}

@media (min-width: 1024px) {
  .navbar-brand {
    font-size: 2.5rem;
  }
}