.bg-custom {
  background-color: #ae0c00 !important;  /* Background color */
}

.navbar-toggler {
  border-color: transparent;
}

.navbar-toggler:hover {
  border-color: inherit;
  transition: border-color 0.3s ease;

}

.navbar-toggler:focus {
  border-color: transparent;
  display: none;
}

.navbar-brand {
  font-family: "Roboto", sans-serif !important;
  font-optical-sizing: auto;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;}