.user-table-body {
    max-height: 65vh;
    overflow-y: scroll;
  }
  .user-table th {
    background: rgba(220,53,69,0.98); ;
    position: sticky;
    top: -5px; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
  .user-table th {
    border-top: none;
  }

  .user-table th.no-border-left {
    border-left: none;
  }
  .user-table{
    border-collapse: collapse; 
  }
  
  .loading-container {
    height: 60vh;
  }
  
  .loading-text {
    margin-top: 1rem;
    color: white;
  }
  
  .edit-users-container {
    margin-top: 2rem;
    color: white;
  }
  
  .user-table th {
    cursor: pointer;
  }
  
  .user-detail-row {
    padding: 1rem;
  }
  
  .user-details-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .user-details-left {
    flex: 1;
    padding-right: 1rem;
  }
  
  .user-profile-photo {
    height: 100%;
    max-height: 180px;
    width: auto;
    border-radius: 12px;
    border: 2px solid #fff;
    object-fit: cover;
  }
  

  .profile-thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
  }